@import url(./_CssReset.css);

.Container {
  width: 100%;
  background: rgb(25, 172, 227);
  background: linear-gradient(
    90deg,
    rgba(25, 172, 227, 1) 11%,
    rgba(16, 156, 232, 1) 29%,
    rgba(5, 139, 236, 1) 61%
  );
}
.Container .NavBar {
  width: 1400px;
  height: 80px;
  display: flex;
  margin: 0 auto;
}

.Container .NavBar .LogoMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 8;
}

.Container .NavBar .LogoMenu .Menu ul {
  display: flex;
  padding-right: 40px;
}
.Container .NavBar .LogoMenu .Menu ul li a {
  color: white;
  padding-right: 30px;
  font-size: 17px;
}

.Container .NavBar .LogoMenu .Menu ul li a i {
  padding: 5px;
  vertical-align: -2px;
}

.Container .NavBar .LogoMenu .Menu ul li a i:hover {
  transform: rotate(20deg);
}

.Container .NavBar .SignInUp-PhoneNumber {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 4;
}

.Container .NavBar .SignInUp-PhoneNumber .SignUp {
  color: white;
  font-size: 20px;
  padding-left: 8px;
}
.Container .NavBar .SignInUp-PhoneNumber .SignIn {
  color: rgba(5, 139, 236, 1);
  font-size: 20px;
  padding: 3px;
  border-radius: 30px;
  width: 65px;
  border: none;
}
.PhoneNumber p {
  padding-right: 25px;
  font-size: 21px;
  color: white;
}
.PhoneNumber p i {
  vertical-align: -2px;
  transform: rotate(17deg);
}

.Container .Header {
  width: 1400px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Img-Responsive {
  width: 100%;
  height: auto;
  margin: auto;
  display: flex;
}

.HeaderTitle {
  display: flex;
  flex-grow: 6;
  flex-direction: column;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.259);
  border-radius: 5px;
  width: 700px;
}
.HeaderTitle h1 {
  font-size: 1.75rem;
  padding: 0px 6px 32px 0px;
  flex-grow: 6;
  color: white;
}
.HeaderTitle .BTNS {
  display: flex;
  flex-direction: row;
  margin: 7px;
}

.HeaderTitle .BTNS .StartContents {
  padding: 5px;
  border: none;
  border-radius: 50px;
  font-size: 15px;
  margin: 10px;
}
.HeaderTitle .BTNS .StartContents i {
  vertical-align: -5px;
  padding: 10px;
  font-size: 20px;
  color: #19ace3;
}

.HeaderTitle .BTNS a i {
  color: #19ace3;
  font-size: 25px;
  vertical-align: -30px;
  background-color: white;
  padding: 9px;
  border-radius: 40px;
}

.HeaderTitle p {
  font-size: 17px;
  color: white;
}
.HeaderImage {
  display: flex;
  justify-items: left;
  flex-grow: 6;
  box-sizing: border-box;
}

.BannerWordpressSupport {
  width: 1000px;
  height: 150px;
  display: flex;
  margin: 80px auto;
  background: rgb(198, 225, 255);
  background: linear-gradient(
    90deg,
    rgba(198, 225, 255, 1) 22%,
    rgba(234, 244, 255, 1) 52%,
    rgba(255, 255, 255, 1) 78%
  );
  border-radius: 20px;
}

.BannerWordpressSupport .ImageAndTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 4;
}
.BannerWordpressSupport .ImageAndTitle .TitleText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 25px;
}
.BannerWordpressSupport .ImageAndTitle .TitleText h2 {
  padding: 0px 0px 10px 0px;
}
.BannerWordpressSupport .Facilities {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 4;
  margin-left: 100px;
}
.BannerWordpressSupport .Facilities ul li {
  padding: 6px;
}
.BannerWordpressSupport .Facilities ul li i {
  padding: 10px;
  font-size: 17px;
  background-color: white;
  border-radius: 100%;
  vertical-align: -2px;
  color: #058bec;
}

.BannerWordpressSupport .BtnServices {
  flex-grow: 4;
  display: flex;
  flex-direction: column-reverse;
}
.BannerWordpressSupport .ImageAndTitle .TitleText span {
  background-color: #bedfff;
  width: 190px;
  padding: 6px;
  border-radius: 6px;
  font-size: 14px;
}
.BannerWordpressSupport .BtnServices button {
  padding: 5px;
  margin: 10px;
  border: none;
  background-color: #79c7ff;
  border-radius: 9px;
  font-size: 17px;
}
.BannerWordpressSupport .BtnServices button i {
  vertical-align: -3px;
  padding: 10px;
  font-size: 19px;
}
.CloudServices {
  background: rgb(191, 221, 255);
  background: linear-gradient(
    0deg,
    rgba(191, 221, 255, 1) 22%,
    rgba(234, 244, 255, 1) 52%,
    rgba(255, 255, 255, 1) 78%
  );
  width: 100%;
}
.CloudServices .CloudTitle {
  width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.CloudServices .CloudTitle h2 {
  align-self: center;
  color: #288ed9;
}
.CloudServices .CloudTitle span {
  font-size: 1.125rem;
  align-self: center;
  color: #999;
}

.CloudServices .CloudServicesContent {
  width: 1400px;
  display: flex;
  margin: 0 auto;
}

.CloudServices .CloudServicesContent .Card {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  height: 80px;
  background-color: white;
  margin: 40px 10px 0px 10px;
  justify-content: center;
  height: 450px;
  border-radius: 20px;
}

.CloudServices .CloudServicesContent .Card .CardHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CloudServices .CloudServicesContent .Card .CardHeader figure img {
  width: 300px;
}

.CloudServices .CloudServicesContent .Card .CardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 35px;
  line-height: 38px;
  color: gray;
}
.CloudServices .CloudServicesContent .Card .CardBody h2 {
  color: #288ed9;
  margin-bottom: 15px;
}

.CardContainer {
  display: flex;
  width: 1400px;
  margin: 60px auto;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CardH {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 49%;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 13px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.CardH:hover {
  transform: translateY(-10px);
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.CardH figure {
  width: 30%;
  margin: 0;
}

.LineTwo {
  width: 70%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
}

.CardContainer .CardH .LineTwo h2 {
  margin: 0;
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #288ed9;
}

.CardContainer .CardH .LineTwo p {
  font-size: 18px;
  color: #b4b4b4;
  line-height: 35px;
  padding: 10px;
}

.BTNCS {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-size: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.BTNCS button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 20px;
  color: #288ed9;
}
.BTNCS button:hover {
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
}

.Support {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
}
.TimeMatters {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.TimeMattersImg {
  display: flex;
  flex-direction: row;
  flex-grow: 6;
}
.ContentsTimeMatters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 6;
  height: 400px;
  width: 35%;
}
.ContentsTimeMatters h2 {
  font-size: 30px;
  padding: 25px;
  color: #288ed9;
}
.ContentsTimeMatters p {
  font-size: 18px;
  color: #b3b3b3;
}
.StartsSupport {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  width: 100%;
  justify-content: flex-start;
  margin-right: 40px;
}
.StartsSupport button {
  border: none;
  padding: 10px;
  font-size: 17px;
  outline: none;
  border-radius: 10px;
  background-color: #288ed9;
  color: white;
  margin-left: 20px;
}
.StartsSupport span {
  font-size: 20px;
  color: #b3b3b3;
}

.TimeMatters-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.TimeMattersImgSupport {
  display: flex;
  flex-direction: row;
  flex-grow: 6;
}

.ContentsTimeMattersSupports {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 6;
  height: 400px;
  width: 35%;
}

.ContentsTimeMattersSupports h2 {
  font-size: 30px;
  padding: 25px;
  color: #288ed9;
}

.ContentsTimeMattersSupports p {
  font-size: 18px;
  color: #b3b3b3;
}
.Customers {
  background: linear-gradient(20deg, #288ed9 0, #137fcf 100%);
  width: 100%;
}
.Customers .CustomersResponse {
  width: 1400px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.CustomerTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 200px;
  justify-content: flex-end;
}

.CustomerTitle h2 {
  font-size: 1.5rem;
  color: white;
  padding: 5px;
}
.CustomerTitle span {
  color: #98cdf2;
  font-size: 1.125rem;
}
.CustomerParagraph {
  width: 40%;
  display: flex;
  margin: 69px auto;
  height: 200px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 70px 70px 10px;
  justify-content: space-around;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 100%;
  padding-left: 0px;
  border: 6px solid #b6e0ff78;
}
.CustomerImage {
  width: 100%;
}
.CustomerOpinion {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.CustomerOpinion h2 {
  color: #058bec;
  font-size: 20px;
  padding: 5px 10px 0px 0px;
}
.CustomerOpinion span {
  color: gray;
  padding: 0px 20px 2px 0px;
  font-size: 16px;
}
.CustomerOpinion p {
  padding: 5px;
  font-size: 13px;
  color: gray;
}

.CompanyCustomer {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.ConsultationExperts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}
.ConsultationExperts button {
  border: none;
  padding: 15px;
  font-size: 1.0625rem;
  border-radius: 35px;
  color: #058bec;
}

.TransferDataTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.TransferDataTitle h2 {
  font-size: 1.5rem;
  color: white;
}
.TransferDataTitle span {
  color: #98cdf2;
  font-size: 1.125rem;
  margin-top: 0.625rem;
}

.WorldImage {
  display: flex;
  justify-content: center;
  align-items: center;
}
.WorldImage figure {
  margin-top: 20px;
  width: 60%;
}
.ImportantLinks {
  width: 1400px;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}
.ImportantLinks h2 {
  position: relative;
}
.ImportantLinks h2::after {
  content: "";
  width: 120px;
  height: 3px;
  background-color: #9c0592;
  position: absolute;
  top: 36px;
  right: 0;
}
.ImportantLinks h2 {
  margin: 22px 0px 13px 34px;
  font-size: 20px;
  color: #288ed9;
}

.ImportantLinks ul li a {
  color: #288ed9;
}
.ImportantLinks ul li {
  color: #288ed9;
  padding: 6px;
  margin-top: 10px;
}
.importantButton {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.importantButton button {
  margin-bottom: 24px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #288ed9;
  border-radius: 20px;
  background-color: white;
  color: #288ed9;
}
.importantButton button:hover {
  margin-bottom: 24px;
  padding: 10px;
  font-size: 18px;
  border: 2px solid #288ed9;
  border-radius: 20px;
  background-color: #288ed9;
  color: white;
}
.Footer {
  width: 1200px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #e9e9e9;
}
.FooterInfo ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 60px;
}
.Img-Footer {
  width: 60px;
  margin: 0;
  height: 59px;
  display: flex;
  box-shadow: 0px 0px 20px 3px #117dcba1;
  border-radius: 100%;
}
.FooterInfo ul li a {
  color: #288ed9;
}

.SocialMedia ul {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  height: 100px;
}

.SocialMedia ul li a {
  font-size: 30px;
  color: #b3b3b3;
}
.SocialMedia span {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: 24px;
  color: #288ed9;
}
.Copyright {
  width: 1200px;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Copyright span {
  color: #b3b3b3;
  font-size: 15px;
}
